* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #666666;
    display: flex;
}


/* navigation */

nav {
    background-color: #666666;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

nav a {
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em
}




/* section */

section.welcome {
    padding: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0 url('../img/welcome.jpg') center center/cover no-repeat scroll;
    color: white;
}

section.welcome h1 {
    font-size: 4em;
    font-weight: normal;
    margin: 3%;
}

section.welcome .subtitle {
    font-size: 2em;
    font-weight: normal;
}



section.text {
    display: flex;
    flex-direction: column;
}

/* Plot */

section.plot {
    display: flex;
    /* flex-direction: row; */
    background-color: rgb(196, 196, 196);
    padding: 5em;
    flex-direction: column;
    align-items: center;

}

div.text {
    display: flex;
    flex-direction: column;
    margin-left: 1em;



}
img {
  height: 20em;
}
section.plot > div {
    display: flex;
    flex-direction: row;
    width: 50em;
}

section.plot .tagline {
    font-size: 2em;

}

.main-text {
    font-size: 1.3em;
}
section.plot > h1 {
    font-size: 3em;
}